* {
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  background-color: rgb(175, 175, 175);
}

nav {
  display: flex;
  flex-direction: row;
}
nav ul {
  display: flex;
}
li {
  list-style: none;
  margin-right: 1rem;
}
nav a:hover,
nav a:focus {
  background-color: rgb(27, 150, 199);
}

nav a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.4rem;
}
.navPrincipal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  background-color: rgb(59, 59, 141);
}
.navPrincipal a {
  padding: 0.9rem;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4.5rem;
  background-image: url(../img/bg-header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  color: rgb(199, 216, 216);
  text-shadow: 6px 6px 6px black;
  margin-left: 2rem;
}
header figure {
  width: 10%;
}
header img {
  width: 100%;
}

.navSecundario {
  background-color: rgb(12, 5, 2);
}
.navSecundario {
  padding: 0.9rem;
}
.navSecundario a {
  padding: 0.9rem;
  color: whitesmoke;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  align-items: stretch;
}
article {
  width: 40%;
  box-sizing: border-box;
  border-color: transparent;
  box-shadow: 0 0 1.5rem .1rem;
  padding: 1.8rem;
  background-color: #223143;
  margin-right: 2.4rem;
  text-align: center;
  border-radius: .5rem;
  
}
article img {
  width: 90%;
  padding: 1rem;
}

article p{
  color: whitesmoke;
  font-weight: 500;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
}

article h2{
  color: whitesmoke;
  font-weight: 700;
  font-size: 1.9rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1.5rem;
}




footer{
  background-color: black;
  padding: 2rem;
  text-align: center;
  color: whitesmoke;
  
}
footer a{
  color: whitesmoke;
  text-decoration: none;

  
}
footer p{
  margin-bottom: 1rem;
  
}

/* ESTILOS DE LA HOJA REPARTO */



.sectionReparto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
  
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18%;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #223143;
  border-radius: .5rem;
  box-shadow: 0 0 1.5rem .1rem;

}
.card figcaption{
  color: whitesmoke;
  text-align: center;
  font-size: 1.5rem;
}

.card  p{
  text-align: center;
  font-size: 1.2rem;
  color: whitesmoke;
}
.card figure{
  width: 100%;
}
.card img{
  width: 100%;
}
.tituloGaleria{
  color: rgb(207, 207, 207);
  text-shadow: 6px 6px 6px black;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
 text-align: center;
 font-weight: 700;
 padding-top: 2rem;
 padding-bottom: 2rem;

}


/*Estilos de la hoja de datosTecnicos */

.sectionDatos{
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;

}

.mainDatos{
  width: 75%;

  
}

aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  
}
aside a {
  font-size: 1.2rem;
  text-decoration: none;
  color: whitesmoke;
  padding: .5rem;
  font-family: 'Poppins', sans-serif;
}
aside p{
  font-size: 1.3rem;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

aside a:hover,
aside a:focus {
  color: rgb(7, 52, 70);
}


table {
  width: 100%;
}
th{
  background-color: #223143;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

table, th, td{
  border: .1rem solid black;
  text-align: center;
  border-collapse: collapse;
}

th,td{
  padding: .3rem;

}
th{
  text-align: left;
}
caption{
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}



